<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.username">Sreekar</property>
        <property name="hibernate.connection.password">Sree@1234</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sakila</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
<!--                <property name="hibernate.hbm2ddl.auto">create-drop</property>-->
        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory
        </property>
        <!--        <property name="hibernate.cache.provider_class">org.hibernate.cache.ehcache.internal.EhcacheRegionFactory</property>-->

        <mapping resource="Student.hbm.xml"/>
        <mapping class="com.sreekar.hibernate.pojo.Person"/>
<!--        <mapping class="com.sreekar.hibernate.pojo.Employee"/>-->
<!--        <mapping class="com.sreekar.hibernate.pojo.Product"/>-->
<!--        <mapping class="com.sreekar.hibernate.pojo.composite_key.Employee"/>-->
<!--        <mapping class="com.sreekar.hibernate.pojo.natural_id.AccountDetails"/>-->
<!--        <mapping class="com.hibernate.inheritance.table_per_class_hierarchy.Payment"/>-->
<!--        <mapping class="com.hibernate.inheritance.table_per_class_hierarchy.CreditCard"/>-->
<!--        <mapping class="com.hibernate.inheritance.table_per_class_hierarchy.Cheque"/>-->

<!--        <mapping class="com.hibernate.inheritance.table_per_subclass.Payment"/>-->
<!--        <mapping class="com.hibernate.inheritance.table_per_subclass.CreditCard"/>-->
<!--        <mapping class="com.hibernate.inheritance.table_per_subclass.Cheque"/>-->

<!--        <mapping class="com.hibernate.inheritance.table_per_concrete_class.Payment"/>-->
<!--        <mapping class="com.hibernate.inheritance.table_per_concrete_class.CreditCard"/>-->
<!--        <mapping class="com.hibernate.inheritance.table_per_concrete_class.Cheque"/>-->
        <mapping class="com.hibernate.association.onetoone.Employee"/>
        <mapping class="com.hibernate.association.onetoone.EmployeeDetail"/>
<!--        <mapping class="com.hibernate.association.onetomany.Employee"/>-->
<!--        <mapping class="com.hibernate.association.onetomany.Department"/>-->
<!--        <mapping class="com.hibernate.association.manytomany.Employee"/>-->
<!--        <mapping class="com.hibernate.association.manytomany.Meeting"/>-->
<!--        <mapping class="com.hibernate.querylanguage.Address"/>-->
    </session-factory>
</hibernate-configuration>